@import './fonts.css';
@import './art-btn.css';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #080704;
  font-family: var(--font-body);
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
